.space-mono-regular {
  font-family: "SpaceMono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "SpaceMono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "SpaceMono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "SpaceMono", monospace;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-Black.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-Black.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-ExtraBold.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-Bold.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-Semibold.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-Medium.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-Medium.ttf') format('truetype');
  font-weight: 400;
}


@font-face {
  font-family: 'LayGrotesk', sans-serif;
  src: url('css/fonts/LayGrotesk-Trial-Black.otf') format('otf');
  font-weight: 800;
}