@font-face {
  font-family: 'SpaceMono';
  src: url('fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('fonts/SpaceMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('fonts/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-Black.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-Black.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-ExtraBold.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-Bold.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-Semibold.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'SrabenGrotesk';
  src: url('fonts/SrabenGrotesk-Medium.otf') format('opentype');
  src: url('fonts/SrabenGrotesk-Medium.ttf') format('truetype');
  font-weight: 400;
}


@font-face {
  font-family: 'LayGrotesk', sans-serif;
  src: url('css/fonts/LayGrotesk-Trial-Black.otf') format('otf');
  font-weight: 800;
}