
*, *::after, *::before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
.grid-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: 16px;
	margin-right: 16px;
}
*/

/*
.grid-col-1of12 { flex: 0 0 calc((100% - 11 * 24px - 2 * 16px) / 12); max-width: calc((100% - 11 * 24px - 2 * 16px) / 12); }
.grid-col-2of12 { flex: 0 0 calc(2 * ((100% - 11 * 24px - 2 * 16px) / 12) + 24px); max-width: calc(2 * ((100% - 11 * 24px - 2 * 16px) / 12) + 24px); }
.grid-col-3of12 { flex: 0 0 calc(3 * ((100% - 11 * 24px - 2 * 16px) / 12) + 2 * 24px); max-width: calc(3 * ((100% - 11 * 24px - 2 * 16px) / 12) + 2 * 24px); }
.grid-col-4of12 { flex: 0 0 calc(4 * ((100% - 11 * 24px - 2 * 16px) / 12) + 3 * 24px); max-width: calc(4 * ((100% - 11 * 24px - 2 * 16px) / 12) + 3 * 24px); }
.grid-col-5of12 { flex: 0 0 calc(5 * ((100% - 11 * 24px - 2 * 16px) / 12) + 4 * 24px); max-width: calc(5 * ((100% - 11 * 24px - 2 * 16px) / 12) + 4 * 24px); }
.grid-col-6of12 { flex: 0 0 calc(6 * ((100% - 11 * 24px - 2 * 16px) / 12) + 5 * 24px); max-width: calc(6 * ((100% - 11 * 24px - 2 * 16px) / 12) + 5 * 24px); }
.grid-col-7of12 { flex: 0 0 calc(7 * ((100% - 11 * 24px - 2 * 16px) / 12) + 6 * 24px); max-width: calc(7 * ((100% - 11 * 24px - 2 * 16px) / 12) + 6 * 24px); }
.grid-col-8of12 { flex: 0 0 calc(8 * ((100% - 11 * 24px - 2 * 16px) / 12) + 7 * 24px); max-width: calc(8 * ((100% - 11 * 24px - 2 * 16px) / 12) + 7 * 24px); }
.grid-col-9of12 { flex: 0 0 calc(9 * ((100% - 11 * 24px - 2 * 16px) / 12) + 8 * 24px); max-width: calc(9 * ((100% - 11 * 24px - 2 * 16px) / 12) + 8 * 24px); }
.grid-col-10of12 { flex: 0 0 calc(10 * ((100% - 11 * 24px - 2 * 16px) / 12) + 9 * 24px); max-width: calc(10 * ((100% - 11 * 24px - 2 * 16px) / 12) + 9 * 24px); }
.grid-col-11of12 { flex: 0 0 calc(11 * ((100% - 11 * 24px - 2 * 16px) / 12) + 10 * 24px); max-width: calc(11 * ((100% - 11 * 24px - 2 * 16px) / 12) + 10 * 24px); }
.grid-col-12of12 { flex: 0 0 calc(12 * ((100% - 11 * 24px - 2 * 16px) / 12) + 11 * 24px); max-width: calc(12 * ((100% - 11 * 24px - 2 * 16px) / 12) + 11 * 24px); }
*/


[class^='grid-col-'] {
	float: left;
	
	/*align-content: center;
*/}

.grid-col-1of12 {
	width: 8.33%;
}

.grid-col-2of12 {
	width: 16.66%;
}

.grid-col-3of12 {
	width: 25%;
}

.grid-col-4of12 {
	width: 33.33%;
}

.grid-col-5of12 {
	width: 41.66%;
}

.grid-col-6of12 {
	width: 50%;
}

.grid-col-7of12 {
	width: 58.33%;
}

.grid-col-8of12 {
	width: 66.66%;
}

.grid-col-9of12 {
	width: 75%;
}

.grid-col-10of12 {
	width: 83.33%;
}

.grid-col-11of12 {
	width: 91.66%;
}

.grid-col-12of12 {
	width: 100%;
}

.grid-row::after {
	content: "";
	display: table; /*block*/
	clear: both;
}
