:root {
  --paper-grey-medium: rgba(220, 220, 220, 1);
  --button-drop-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px
    rgba(0, 0, 0, 0.15);
  --variable-collection-light-bg: rgba(255, 253, 244, 1);
  --tokens-dark-green: rgba(0, 44, 13, 1);
  --tokens-black: rgba(0, 0, 0, 1);
  --tokens-white: rgba(255, 255, 255, 1);
}