


<footer class="hidden">
  <div class="contact-me-section">
    <div class="contact-me-text">
      <div class="contact-me-left">
        <p class="footer-eyebrow">don't be shy</p>
        <h2 class="contact-me-title">MAGS</h2>
      </div>
      <div class="contact-me-right">
        <p class="footer-eyebrow">slide into my DMs</p>
        <h2 class="contact-me-title">FOLIO</h2>
      </div>
    </div>
    <div class="email-container">
      <div class="email-content" id="email-content">
        <a href="mailto:maggieliujx@gmail.com" class="email-link">maggieliujx@gmail.com</a>
      </div>
       <div class="email-copy" id="email-copy">
        <a href="mailto:maggieliujx@gmail.com" class="email-link">maggieliujx@gmail.com</a>
      </div>
    </div>
  </div>

</footer>

<script>
  const nextProjectLink = document.getElementById('next-project-link');

  // Check if the footer is present on the page
  if (document.querySelector('.site-footer')) {
    nextProjectLink.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default link behavior

      // Get the current project element
      const currentProject = document.querySelector('.portfolio-section .frame-2 .frame-3.active');

      // Get the index of the current project
      const currentIndex = parseInt(currentProject.getAttribute('data-index'), 10);

      // Get the project list from the portfolio-section frame-2 in work.html
      const projectList = Array.from(document.querySelectorAll('.portfolio-section .frame-2 .frame-3'));

      // Calculate the index of the next project
      const nextIndex = (currentIndex + 1) % projectList.length;

      // Get the next project element
      const nextProject = projectList[nextIndex];

      // Navigate to the next project
      window.location.href = nextProject.href;
    });
  }
</script>

<script>
  const emailContainer = document.querySelector('.email-container');
const emailContent = document.querySelector('#email-content');
const emailCopy = document.querySelector('#email-copy');

emailContainer.addEventListener('mouseenter', function() {
  emailCopy.style.opacity = 1;
});

emailContainer.addEventListener('mouseleave', function() {
  emailCopy.style.opacity = 0;
});

</script>