
<footer>
  <div class="site-footer">
    <a href="#" id="next-project-link">
        <div class="footer-content">
            <p>Next Project</p>
            <img src="img/index/arrow_left.svg">
        </div>
    </a>
  </div>
</footer>

<script>
  const nextProjectLink = document.getElementById('next-project-link');

  nextProjectLink.addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default link behavior

    // Get the project list from the portfolio-section frame-2 in work.html
    const projectList = Array.from(document.querySelectorAll('.portfolio-section .frame-2 .project'));

    // Get the index of the current project in the project list
    const currentIndex = projectList.findIndex(project => project.getAttribute('date-index') === event.target.closest('.project').getAttribute('date-index'));

    // Calculate the index of the next project
    const nextIndex = (currentIndex + 1) % projectList.length;

    // Get the next project element
    const nextProject = projectList[nextIndex];

    // Scroll to the next project element
    nextProject.scrollIntoView({ behavior: 'smooth' });
  });
</script>